<footer>

<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">&nbsp;Лого</div>
<div class="divTableCell">&nbsp;</div>
<div class="divTableCell">&nbsp;</div>
</div>
<div class="divTableRow">
<div class="divTableCell">&nbsp;&nbsp;Ссылка</div>
<div class="divTableCell">&nbsp;&nbsp;Ссылка</div>
<div class="divTableCell">&nbsp;</div>
</div>
<div class="divTableRow">
<div class="divTableCell">&nbsp;&nbsp;Ссылка</div>
<div class="divTableCell">&nbsp;&nbsp;Ссылка</div>
<div class="divTableCell">&nbsp;</div>
</div>
<div class="divTableRow">
<div class="divTableCell">&nbsp;&nbsp;Ссылка</div>
<div class="divTableCell">&nbsp;&nbsp;Ссылка</div>
<div class="divTableCell">&nbsp;</div>
</div>
<div class="divTableRow">
<div class="divTableCell">&nbsp;</div>
<div class="divTableCell">&nbsp;</div>
<div class="divTableCell">&nbsp;Artux</div>
</div>
</div>
</div>
<!-- DivTable.com -->

</footer>
